header {
    background-color: #165215;
    color: white;
    }
    table {
        Border: 4px solid #165215;
        background-color: green;
        color: white;
    }
    img {
        width: 100%;
        height: 100%


    }
    div {
        color: #113f0f;
        
    }
    article {
        color: #0c6107;
        
    }
    aside {
        color: rgb(3, 105, 3);
        }
       h2 { 
           text-align: center;
       } 
    #cast { 
        color: rgb(152, 233, 31);
        font-weight: 900;
    }

    
        
    