header {
    background-color: #165215;
    color: white;
    }
    table {
        Border: 4px solid #165215;
        background-color: green;
        color: white;
    }
    img {
        width: 100%;
        height: 100%


    }

    
        
    